# Ignore
_site/**/*
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
*.xcf
.idea
*~

# Allow
!_site/categories.json
!_site/metadata.json
!_site/tags.json
!_site/users.json
