---
layout: default
title: Pixelite
description: "A technology blog or rant area depending on the topic"
subtitle: "A technology blog or rant area depending on the topic"
header-img: "https://unsplash.it/1920/1080?random&blur"
---

{% include generic_page_header.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10">
            <div class="container">
                <div class="row posts">
                    {% for post in paginator.posts %}
                        {% include post_teaser.html %}
                    {% endfor %}
                </div> <!-- /.container -->
            </div>
            <hr>
        </div>
    </div> <!-- /.container -->
</div>
<hr>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
