---
layout: default
footer: false
---

{% assign author = site.authors[page.author] %}

<!-- Page Header -->
<header class="intro-header" style="background-image: url(https://unsplash.it/1920/1080?random&blur)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          <hr class="small">

          {% if author.gravatar %}
          <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=128" class="img-responsive img-thumbnail img-circle avatar">
          {% endif %}

          <span class="subheading">{{ author.blurb }}</span>

          <ul class="list-inline text-center">
            {% if author.twitter %}
            <li>
              <a href="https://twitter.com/{{ author.twitter }}">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if author.github %}
            <li>
              <a href="https://github.com/{{ author.github }}">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-github fa-stack-1x"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if author.drupalorg %}
            <li>
              <a href="https://www.drupal.org/u/{{ author.drupalorg }}">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-drupal fa-stack-1x"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if author.linkedin %}
            <li>
              <a href="https://www.linkedin.com/in/{{ author.linkedin }}">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                </span>
              </a>
            </li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row posts">
    {% for post in site.posts %}
      {% if post.author contains page.author %}
        {% include post_teaser.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<hr>


