---
layout: default
header-img: "https://unsplash.it/1920/1080?random&blur"
title: Posts in category "{{ page.category }}"
---

{% include generic_page_header.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10">
            <div class="container">
                <div class="row posts">
                    {% for post in site.posts %}
                      {% for category in post.categories %}
                        {% if category == page.category %}
                          {% include post_teaser.html %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                </div> <!-- /.row -->
            </div>

            <hr>

        </div>
    </div>
</div>
<hr>
