---
layout: default
description: Posts tagged with "{{ page.tag }}"
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/img/post-bg-boat.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Posts tagged with "{{ page.tag }}"</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row posts">
        {% for post in site.posts %}
          {% for tag in post.tags %}
            {% if tag == page.tag %}
              {% include post_teaser.html %}
            {% endif %}
          {% endfor %}
        {% endfor %}
    </div> <!-- /.row -->
</div>

<hr>
